@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

/*
@font-face {
    font-family: 'Example';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('Example.ttf') format('truetype');
}
*/

@font-face {
  font-family: 'Westmount Outline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/westmount-outline.ttf') format('truetype');
}

@font-face {
  font-family: 'Westmount';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./assets/westmount-extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'Westmount';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/westmount-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Westmount';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/westmount-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Westmount';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/westmount-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Westmount';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./assets/westmount-extrabold.ttf') format('truetype');
}
